#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- \
		--enable-curses \
		--enable-x11 \
		--enable-sdl2 \
		--enable-sdl2-mixer \
		--with-private-dirs

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/angband
